body {
	margin:0px;
	width:100%;
	min-height:100%;
	overflow-y: auto;
	overflow-x:hidden;
	color:#707070;/*color 1: default text color. not used*/
	font-weight:500;
	font-family:helvetica;
}
p {
	white-space: pre;
}
#tophalf {
	height: 17%;/*33%;*/
	width: 100%;
	background-color:#fcfcff;/*color 2: top-half background light colored*/
	color:#787880;/*color 3: main text color half bright 2*/
	font-weight:900;
	text-transform:uppercase;
	font-family:helvetica;
	position: relative;
}
/*#tophalf p {
	position: absolute;
	top: 32%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 33pt;
	text-align:center;
}*/
#bottomhalf {
	min-height: 83%;/*67%;*/
	width: 500%; /* set to 100 times the number of slides */
	background-image: linear-gradient(to right, #0000ff, #ff0000, #00ff00, #0000ff);/*color gradient bar*/
	position: absolute;
	left:-000%;
overflow-x:hidden;
}
#selectionbar {
	position:absolute;
	bottom:5px;
	text-align: center;
	width:100%;
	font-size: 24pt;
}
.selection {
	background-color: #5a5a60;/*color 4: selection text color 3/8th 2*/
	color: transparent;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	position:relative;
	bottom:0px;
	cursor: pointer;
	display: inline-block;
	margin-left:5pt;
	font-size: 24pt;
}
.slide {
	margin-top: 1px;
	position: absolute;
	width:20%;/* set to 100 divided by the number of slides */
	min-height:100%;
	background-color: #dcdce0;/*color 5: bottom-half/slide background color two steps lower than 2*/
	color:#787880;/*color 3: main text color half bright 2*/
	font-size: 18pt;
	overflow-x:hidden;
}
.slide bold {
	font-weight: bold;
}
.slide ul {
	margin-top: 42px;
}
#slide1 {
	left:0%;
}
#slide2 {
	left:20%;
}
#slide3 {
	left:40%;
}
#slide4 {
	left:60%;
}
#slide5 {
	left:80%;
}
/* add styles for each additional slide incrementing left by 100 divided by the number of slides each time */
.slide h {
	font-size: 24pt;
	text-align: center;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0%);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}